/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/clockwork
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
.env
/.vscode
.DS_STORE
!storage/app/image/

