.menu_add_admin {
    padding: 0.5rem;
    form {
        max-width: 1000px;
        width: 100%;
        font-size: 1.5rem;
        gap: 1rem;

        .checkBox_container {
            input {
                opacity: 0;
                position: absolute;
                cursor: default;
            }
        }

        &>div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        select {
            padding: 0.5rem 1rem;
        }

        .header_container {
            color: white;
            border-radius: 15px 15px 0 0;
        }

        .meal_div_container {
            gap: 0;
        }

        .meals_menu_container {
            gap: 0;
            &>div {
                border-top: 1px solid #cbcbcb;
                border-bottom: 1px solid #cbcbcb;
                background-color: rgb(237, 237, 237);
                justify-content: space-between;
                padding: 1rem;
                

                button {
                    background: none;
                    border: none;
                    box-shadow: none;
                }
            }

            

        }
    }

    .adminMealDiv {
        display: flex;
        align-items: center;

        p {
            margin: 0;
        }

    }

}